<div class="container">
  <!-- Content here -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link " href="/home">Trang chủ</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/userManager">Quản lý tài khoản</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/productManager">Quản lý hàng hóa</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/order">Đơn hàng</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/statistical">Thống kê</a>
    </li>
  </ul>
  <h1>Danh sách tài khoản</h1>
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"
    style="margin-bottom: 20px;">Thêm tài khoản</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Thêm sản phẩm</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>

        </div>
        <div class="modal-body">

          <form action="/userManager" method="POST" enctype="multipart/form-data" id="addUser">
            <div class="form-group">
              <label for="usr">Họ và tên</label>
              <input type="text" class="form-control" id="fullname" name="fullname" required>
            </div>

            <div class="form-group">
              <label for="pwd">Email:</label>
              <input type="email" class="form-control" id="email" name="email" required>
            </div>

            <div class="form-group">
              <label for="pwd">Mật khẩu:</label>
              <input type="password" class="form-control" id="pass" name="pass" required>
            </div>

            <div class="form-group">
              <label for="formFile" class="form-label">Ảnh : </label>
              <input class="form-control" type="file" id="files" name="img" accept="image/*" required>
            </div>
            <p style="color: red;">{{ textRrr}}</p>
            <button type="submit" class="btn btn-info btn-lg" style="margin-bottom: 20px;" onclick="">Thêm tài
              khoản</button>
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Id</th>
        <th>Họ và tên</th>
        <th>Ảnh</th>
        <th>Email</th>
        <th>Mật khẩu</th>
      </tr>
    </thead>
    <tbody>
      {{#each data}}
      <tr>
        <td>{{this._id}}</td>
        <td>{{this.name}}</td>
        <td><img src={{this.img}} alt="" width="80" height="80"></td>
        <td>{{this.email}}</td>
        <td>{{this.password}}</td>
        <td class="row">
          <div class="col-3">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#delete{{this._id}}">
              delete
            </button>
            <div class="modal fade" id="delete{{this._id}}" tabindex="-1" aria-labelledby="delete{{this._id}}"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="delete{{this._id}}">Thông báo</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Bạn có muốn xóa không ?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <form action="/delete" method="post">
                      <input type="hidden" value={{this._id}} name="id">
                      <button type="submit" class="btn btn-primary">Yes</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit{{this._id}}">
              edit
            </button>
            <div class="modal fade" id="edit{{this._id}}" tabindex="-1" aria-labelledby="edit{{this._id}}"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="edit{{this._id}}">Edit product?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <p>Do you want edit this product?</p>
                    <form action="/edit" method="post">
                      <div class="mb-3">
                        <label for="name" class="form-label">Enter name product</label>
                        <input value={{this.name}} name="name" type="text" class="form-control" id="name"
                          placeholder="Enter name product">
                      </div>
                      <div class="mb-3">
                        <label for="color" class="form-label">Enter quantity product</label>
                        <input value={{this.quantity}} name="color" type="text" class="form-control" id="color"
                          placeholder="Enter quantity product">
                      </div>
                      <div class="mb-3">
                        <label for="price" class="form-label">Enter price product</label>
                        <input value={{this.price}} name="price" type="text" class="form-control" id="price"
                          placeholder="Enter price product">
                      </div>
                      <input type="hidden" value={{this._id}} name="id">
                      <button type="submit" class="btn btn-primary">Yes</button>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    </form>
                  </div>
                  <div class="modal-footer">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

</div>
<script>
  function getId() {
    let btn_delete = document.getElementById('btn_deleteUser');
    let btn_delete2 = document.getElementById('btn_delete');
    btn_delete2.value = btn_delete.value;
    console.log(btn_delete2.value);
  }
</script>